* {
      .merriweather-light {
            font-family: "Merriweather", serif;
      }

      /* header design */
      header {
            background-image: url('images/Banner\ Image.png');
            background-repeat: no-repeat;
            width: 1320px;
            height: 600px;
            border-radius: 16px;
            margin: 50px 140px 0 140px;
            margin-bottom: 120px;
      }

      .header-happy {
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 177px;
            padding-bottom: 0px;
      }

      .header-new-year {
            color: #FFF;
            text-align: center;
            font-family: Merriweather;
            font-size: 72px;
            font-style: normal;
            font-weight: 900;
            line-height: 95px;
            margin-top: 16px;
            margin-bottom: 177px;

      }

      /* main-design */

      .section-head-65 {
            color: #F00;
            text-align: center;
            font-family: Inter;
            font-size: 88px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 120px 609px 48px 608px;
      }